body{
    text-align: center;
background-color:burlywood;

}
head{
    background-color: rgb(242, 175, 87);
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

.d{
    background-color: green;
}

img{

    height: 200px;
    width:200px;
    
}
h4{
    font:green;
}